name: Run Ecommerce Lakehouse Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-databricks-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Databricks CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh

      - name: Configure Databricks CLI
        run: |
          databricks configure --token <<EOF
          ${{ secrets.DATABRICKS_HOST }}
          ${{ secrets.DATABRICKS_TOKEN }}
          EOF

      - name: Run Databricks Job
        run: |
          databricks jobs run-now \
            --job-id ${{ secrets.DATABRICKS_JOB_ID }}
